################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Test_maker/.vs/Test_maker/v16/Server/sqlite3/db.lock
